div.breadcrumbs {
  height: inherit;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.4rem;
}

.module table {
  width: 100%;
}
.object-tools {
  margin-top: -28px;
}

.inline-group .tabular td.original p {
  height: auto;
}
.responsive-container.large {
  margin-left: var(--stt-primary-sidebar-width);
  max-width: unset;
}
.submit-row a.deletelink {
  height: 2.1875rem;
  line-height: 0.9375rem;
}
@media (max-width: 768px) {
  fieldset {
    min-width: fit-content;
  }
  .responsive-container.large {
    padding: 0;
  }
}
td.delete {
  display: flex;
  justify-content: center;
}
/* This one may break a lot of things silently */
.inline-related.tabular fieldset.module table {
  display: block;
  overflow: auto;
}
.login {
  .hyp-container {
    background: var(--body-bg);
    border: 1px solid var(--hairline-color);
    border-radius: 4px;
    overflow: hidden;
    max-width: 28rem;
    height: auto;
    margin: 100px auto;
  }
  .responsive-container.large {
    max-width: 28rem;
    margin-left: unset;
    padding: 0;
  }
  .stt-primary-topbar {
    max-width: 28rem;
    align-items: center;
    display: flex;
  }
  #branding {
    justify-content: center;
    margin: auto;
  }
  .submit-row input {
    min-width: 6rem;
  }
}

#site,
a:not(
    [role="button"],
    #header a,
    #nav-sidebar a,
    #content-main.app-list a,
    .object-tools a
  ) {
  text-decoration: none;
}

/* TODO: ADD THIS TO CORE */
/* #site-name a {
  font-size: 2rem;
  font-family: Georgia, "Liberation Serif", serif;
} */
